* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Muli', sans-serif;
	margin: 0 auto;
	padding: 0px;
	background-color: #ffffff;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
p{
    padding-left: 0px;
    font-size:14px;
}
a:hover {
	text-decoration: none;
}

.top-header {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	background: #025da2;
	min-height: 40px;
}

.time {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	float: left;
}

.time p {
	color: #00486c;
	line-height: 45px;
	margin-bottom: 0px;
	font-size: 13px;
}

.info-menus ul {
	margin: 0 auto;
	padding: 0px;
	width: 100%;
	float: right;
	text-align: right;
	font-size: 12px;
}

.info-menus ul li {
    list-style-type: none;
    /*display: inline-block;*/
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 20px;
    padding: 0px;
}

.info-menus ul li a {
	color: #b9d5f1;
	font-size: 13px;
	text-decoration: none;
}

.info-menus ul li i {
	padding-right: 5px;
}

.collegeLogin a {
	background: #025da2;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #fff !important;
	display: inline-block;
	text-decoration: none;
	margin-left: 0px;
	padding: 3px 7px;
}

.info-menus ul li:nth-child(2n+2) {
	border-right: none;
}

.info-menus ul li:last-child {
	border-right: none;
}

.header {
	width: 100%;
	margin: 0 auto;
	padding: 15px 0px;
	float: left;
}

.logo {
    width: 90%;
    /* height: 100px; */
    float: left;
}

.site-name {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	float: left;
}

.site-name h2 {
    font-size: 20px;
    color: #094088;
    font-weight: 800;
    margin-top: 5px;
    margin-left: -80px;
    text-align: left;
    line-height: 30px;
}

.menu-area {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	background: #1e4167;
	min-height: 40px;
}

.dropdown-menu {
	padding: 0;
	margin: 0;
	border: 0 solid transition!important;
	border: 0 solid rgba(0, 0, 0, .15);
	border-radius: 0;
	-webkit-box-shadow: none!important;
	box-shadow: none!important
}

.mainmenu a,
.navbar-default .navbar-nav>li>a,
.mainmenu ul li a,
.navbar-expand-lg .navbar-nav .nav-link {
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	padding: 12px 15px;
	text-decoration: none;
	display: block !important;
}

.mainmenu .active,
.mainmenu .active :focus,
.mainmenu .active:hover,
.mainmenu li:hover,
.mainmenu li a:focus,
.navbar-default .navbar-nav>.show>a,
.navbar-default .navbar-nav>.show>a:focus,
.navbar-default .navbar-nav>.show>a:hover {
	color: #fff;
	background: #3db166;
	outline: 0;
}

.mainmenu a i,
.navbar-default .navbar-nav>li>a i,
.mainmenu ul li a i,
.navbar-expand-lg .navbar-nav .nav-link a i {
	padding-right: 5px;
	font-size: 12px;
}


/*==========Sub Menu=v==========*/

.mainmenu .collapse ul>li:hover>a {
	background: #3db166;
}

.mainmenu .collapse ul ul>li:hover>a,
.navbar-default .navbar-nav .show .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .show .dropdown-menu>li>a:hover {
	background: #3db166;
}

.mainmenu .collapse ul ul ul>li:hover>a {
	background: #3db166;
}

.mainmenu .collapse ul ul,
.mainmenu .collapse ul ul.dropdown-menu {
	background: #1e4167;
}

.mainmenu .collapse ul ul ul,
.mainmenu .collapse ul ul ul.dropdown-menu {
	background: #1e4167
}

.mainmenu .collapse ul ul ul ul,
.mainmenu .collapse ul ul ul ul.dropdown-menu {
	background:#1e4167;
}

.mainmenu .collapse ul ul li {
	position: relative;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	color: #96a2b8;
}


/******************************Drop-down menu work on hover**********************************/

.mainmenu {
	background: none;
	border: 0 solid;
	margin: 0;
	padding: 0;
	min-height: 20px;
	width: 100%;
}

@media only screen and (min-width: 767px) {
	.mainmenu .collapse ul li:hover>ul {
		display: block
	}
	.mainmenu .collapse ul ul {
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 275px;
		display: none
	}
	/*******/
	.mainmenu .collapse ul ul li {
		position: relative
	}
	.mainmenu .collapse ul ul li:hover>ul {
		display: block
	}
	.mainmenu .collapse ul ul ul {
		position: absolute;
		top: 0;
		left: 100%;
		min-width: 275px;
		display: none
	}
	/*******/
	.mainmenu .collapse ul ul ul li {
		position: relative
	}
	.mainmenu .collapse ul ul ul li:hover ul {
		display: block
	}
	.mainmenu .collapse ul ul ul ul {
		position: absolute;
		top: 47px;
		left: 0px;
		min-width: 275px;
		display: none;
		z-index: 1
	}
}

@media only screen and (max-width: 767px) {
	.navbar-nav .show .dropdown-menu .dropdown-menu>li>a {
		padding: 16px 15px 16px 35px
	}
	.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu>li>a {
		padding: 16px 15px 16px 45px
	}
    
}
@media (min-width: 1200px) {
    .container {
        max-width: 1270px;
    }
}
@media (min-width: 1900px) {
    .container {
        max-width: 1500px;
    }
}
nav.navbar.navbar-light.navbar-expand-lg {
    padding: 0px;
}
.banner {
	width: 100%;
	background-image: url('../img/banner/pattern_bg2.png');

	background-position: center;
	background-size: cover;
	float: left;
}

.bg_blue_dark {
	/*background-color: #07294D;*/
    background-color: #35a5f1;
}

#myCarousel .item .mask {
	/*position: absolute;
	top: 55px;
	left: 0;
	height: 100%;
	width: 100%;
	background-attachment: fixed;*/

}

#myCarousel h4 {
	font-size: 50px;
	margin-bottom: 15px;
	color: #FFF;
	line-height: 100%;
	letter-spacing: 0.5px;
	font-weight: 600;
}

#myCarousel p {
	font-size: 18px;
	margin-bottom: 15px;
	color: #d5d5d5;
}

#myCarousel .carousel-item a {
	/*background: #3db166;*/
	font-size: 18px;
	color: #FFF;
	font-weight: 600;
	padding: 8px 20px;
	display: inline-block;
	border: 2px solid #35A5F1;
}

#myCarousel .item a:hover {
	background: none;
	text-decoration: none;
	border: 2px solid #3db166;
}

#myCarousel .carousel-item h4 {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

#myCarousel .item p {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
}

#myCarousel .item a {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

#myCarousel .item .mask img {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
	display: block;
	height: auto;
	max-width: 100%;
}

#myCarousel h4,
#myCarousel p,
#myCarousel a,
#myCarousel .item .mask img {
	-webkit-animation-duration: 1s;
	animation-duration: 1.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

#myCarousel .item {
	height: 100%;
	min-height: 330px;
}


/*#myCarousel{position:relative; z-index:1; background:url(https://i.imgur.com/6axE29k.jpg) center center no-repeat; background-size:cover; }*/

.carousel-control-next,
.carousel-control-prev {
	height: 40px;
	width: 40px;
	padding: 12px;
	top: 50%;
	bottom: auto;
	transform: translateY(-50%);
	/*background-color: #3db166;*/
    background-color: #2572a6;
}

#myCarousel .carousel-inner .carousel-item {
	position: relative;
	display: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	transition: -webkit-transform .6s ease;
	transition: transform .6s ease;
	transition: transform .6s ease, -webkit-transform .6s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

.carousel-fade .item {
	/*opacity: 0;*/
	-webkit-transition-duration: .6s;
	transition-duration: .6s;
	/*-webkit-transition-property: opacity;
	transition-property: opacity*/
}

.carousel-fade .item-next.item-left,
.carousel-fade .item-prev.item-right,
.carousel-fade .item.active {
	opacity: 1
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
	opacity: 0
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0)
}

@supports (transform-style:preserve-3d) {
	.carousel-fade .carousel-item-left.active,
	.carousel-fade .carousel-item-next,
	.carousel-fade .carousel-item-prev,
	.carousel-fade .carousel-item-prev.active,
	.carousel-fade .carousel-item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
	from {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInRight {
	from {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
}

.latest-news {
    width: 100%;
    margin: 0px;
    float: left;
}

.l-news {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	float: left;
}

.l-news h2 {
	border: 2px solid #07294d;
	background: #1e4167;
	padding: 8px 20px;
	float: left;
	color: #fff;
	font-size: 18px;
	margin-right: 10px;
}

.test-scroll {
	float: left;
	width: 90%;
	padding: 10px 0px 0px 0px;
}

.test-scroll p {
	margin: 0px;
}

.test-scroll a {
	font-weight: 600;
	color: #ff6600;
	text-decoration: none;
	font-size: 14px;
	margin-right: 20px;
}

footer.section.footer-classic.context-dark.bg-image {
	padding: 50px 0px 0px 0px;
	/*background: #07294d;*/
    background: #0566a8;
}
#mainfooter h5{
    font-size: 20px;
    margin-bottom: 10px;
}
#mainfooter dt {
    font-weight: 700;
    font-size: 16px;
}
.context-dark,
.bg-gray-dark,
.bg-primary {
	color: rgba(255, 255, 255, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
	color: #ffffff;
	font-size: 14px;
}

.nav-list li {
	padding-top: 7px;
	padding-bottom: 7px;
}

.nav-list li a:hover:before {
	margin-left: 0;
	opacity: 1;
	visibility: visible;
}

.social-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 12px;
	font-size: 12px;
	background: #1e4167;
	color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
	/*border-top: 1px solid rgba(255, 255, 255, 0.1);*/
	margin: 20px 0px 0px 0px;
}
.site-visit {
    background-color: #fff;
    color: #000;
    letter-spacing: 10px;
    padding: 2px 0px 2px 8px;
    margin-left: 5px;
}
.site-info h3 {
	font-size: 1.25rem;
	font-weight: 600;
}

.site-info p {
	font-size: 14px;
	line-height: 1.8em;
}

dl.contact-list dd {
	font-size: 14px;
}

.scroll-top-wrapper {
	position: fixed;
	opacity: 0;
	visibility: hidden;
	text-align: center;
	z-index: 99999999;
	font-size: 14px;
	/*color: #03173d;*/
	width: 30px;
	background-color: #fff !important;
	height: 30px;
	line-height: 25px;
	border-radius: 100px;
	right: 70px !important;
	bottom: 30px;
	border: 1px solid rgba(120, 130, 140, .13);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper.show {
	visibility: visible;
	cursor: pointer;
	font-size: 16px;
	opacity: 1.0;
}

.scroll-top-wrapper i.fa {
	line-height: inherit;
}

.site-introduction {
	width: 100%;
     float:left;
	margin: 50px 0px 50px 0px;
}

.fancy_box {
	position: relative;
}

.padding_eight_all {
	padding: 3%;
}

.fancy_box::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0px;
	border: 3px solid #eaf0f6;
	width: 50%;
	z-index: -1;
}

.fancy_box::after {
	content: "";
	position: absolute;
	left: 0;
	border-right: 3px solid #fff;
	top: 50%;
	bottom: 0;
	width: 50%;
	height: 80%;
	transform: translateY(-50%);
	z-index: -1;
}

.btn-outline-black {
	background-color: transparent;
	border: 2px solid #07294d;
	background: #1e4167;
	color: #fff;
	padding: 8px 20px;
	font-size: 18px;
}

.btn-outline-black:hover {
	color: #fff;
}

.i-image {
	width: 100%;
	float: left;
	text-align: center;
    margin-top: 23px;
}

.i-image img {
	border-radius: 100%;
}

.i-image h5 {
	color: #2d3e50;
	font-size: 18px;
	text-align: center;
	padding: 20px 0px 0px 0px;
	font-weight: 600;
}

.i-image p {
	font-size: 14px;
	color: #425b76;
}

.md-info {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	float: left;
}

.md-info h2 {
	font-size: 16px;
	color: #07294d;
	font-weight: 600;
	padding: 0px 0px 10px 0px;
}

.md-info h4 {
	font-size: 25px;
	font-weight: 800;
	color: #002147;
	padding: 0px 0px 10px 0px;
	width: 100%;
	float: left;
}

.md-info p {
	color: #212529;
	line-height: 2em;
	font-size: 14px;
	text-align: justify;
}

.bgc-white {
	/*background: #f5f8fa;*/
	padding: 0px 0px 60px 0px;
	/*-webkit-box-shadow: 0 2px 6px 0 rgba(214, 219, 224, .6);
	box-shadow: 0 2px 6px 0 rgba(214, 219, 224, .6);*/
	-webkit-transition: -webkit-box-shadow 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
	-o-transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out;
	transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out;
	transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}



.heading_s1.text-center h2{
    font-size: 25px;
    font-weight: 800;
    color: #002147;
    padding: 0px 0px 10px 0px;
    width: 100%;
    text-transform:uppercase;
    float: left;
}
.heading_s1.text_external h2{
    font-size: 25px;
    font-weight: 800;
    color: #002147;
    padding: 0px 0px 10px 0px;
    width: 100%;
    text-transform:uppercase;
}

.heading_s1.text-center p{
    color: #425b76;
    line-height: 2em;
    font-size: 14px;
}

/*===================================*
  04. START ICON BOX CSS
*===================================*/
.box_shadow2 {
    /*box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.1);*/
    border: 1px solid #ddd;
}
.radius_all_10 {
    border-radius: 10px;
}
.bg_danger {
    background-color: #F6475F;
}
.bg_default{
    background-color: #FFBC09;
}
.bg_light_green {
    background-color: #B3D369;
}
.box_icon, .intro_desc {
    position: relative;
}
.intro_desc p:last-child {
    margin: 0;
}
.icon_box {
	padding: 30px;
	z-index: 9;
	margin-top: 10px;
	transition: all 0.5s ease-in-out;
}
.box_icon,
.intro_desc {
	position: relative;
}

.intro_desc h5{
    font-size:18px;
     color: #2d3e50;
     font-weight:800;
     padding:10px 0px 10px 0px;

}
.intro_desc p{
    font-size: 14px;
    color: #425b76;
    line-height:1.8em;
}

.box_icon i {
	font-size: 40px;
}

.icon i{
    font-size:50px;
    color:#fff;
}
.icon_box img {
	max-width: 60px;
}
.icon_box_style1.icon_box {
	background-color: #fff;
	padding: 15px;
	border: 2px solid #f6f6f6;
	-moz-transition: transform .25s cubic-bezier(.68,-0.55,.27,1.55);
	-webkit-transition: transform .25s cubic-bezier(.68,-0.55,.27,1.55);
	transition: transform .25s cubic-bezier(.68,-0.55,.27,1.55);
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-animation-fill-mode: none;
	animation-fill-mode: none;
}
.icon_box_style1 .box_icon {
	float: left;
	margin-right: 20px;
}
.icon_box_style1.icon_box:hover {
	box-shadow: 0 0 14px rgba(0,0,0,0.05);
	-moz-transform: translate3d(0,-10px, 0);
	-webkit-transform: translate3d(0,-10px, 0);
	transform: translate3d(0,-10px, 0);
}
.icon_box_style1.icon_box img {
	max-width: 40px;
}
.icon_box_style1 .intro_desc {
	overflow: hidden;
}
.intro_desc h5 {
	text-transform: capitalize;
}
.intro_desc p:last-child {
	margin: 0;
}
.icon_box_style2 .box_icon,
.icon_box_style3 .box_icon {
	border-radius: 100%;
	display: inline-block;
	padding: 20px;
	position: relative;
	height: 100px;
	width: 100px;
	text-align: center;
}
.icon_box_style2 .box_icon i,
.icon_box_style3 .box_icon i {
    line-height: 60px;
}
.icon_box_style2 .box_icon::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	border: 3px solid #fff;
	border-radius: 100%;
	margin: 0px;
	opacity: 0;
	transition: all 0.2s ease-in-out;
}
.icon_box_style2 .box_icon img {
	padding: 5px;
}
.icon_box_style2:hover .box_icon:before {
	margin: 5px;
	opacity: 1;
}
.icon_box_style2:hover {
	margin-top: 20px;
}
.icon_box_style3 .box_icon {
	overflow: hidden;
}
.icon_box_style3:hover .box_icon i {
    -webkit-animation: toLeftFromRight 0.3s forwards;
    -moz-animation: toLeftFromRight 0.3s forwards;
    animation: toLeftFromRight 0.3s forwards;
}
@-webkit-keyframes toLeftFromRight {
	49% {
		-webkit-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toLeftFromRight {
	49% {
		-moz-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toLeftFromRight {
	49% {
		transform: translate(-100%);
	}
	50% {
		opacity: 0;
		transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}

/*===================================*
  04. END ICON BOX CSS
*===================================*/


.white{
    /*background: #fff;*/
	padding: 60px;
	-webkit-box-shadow: 0 2px 6px 0 rgba(214, 219, 224, .6);
	box-shadow: 0 2px 6px 0 rgba(214, 219, 224, .6);
	-webkit-transition: -webkit-box-shadow 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
	-o-transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out;
	transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out;
	transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}
.cardItems{
        display: flex;
    flex-wrap: wrap;

}


.cardItems .item {
    margin: 10px 0px 10px 10px;
    flex: 1 0 calc(25% - 10px);
    box-sizing: border-box;



}



/* ============================================================== 
     # Our Courses N
=================================================================== */





.cardItems .item {
  background-size: cover;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.cardItems .item a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  display: block;
  padding: 50px 30px;
  position: relative;
  z-index: 1;
  background: #ffffff;
}

.cardItems .item a:hover:after {

  opacity: 0.6;
}

.cardItems .item a:hover {
  background: transparent none repeat scroll 0 0;
}

.cardItems .item a:hover h4,
.cardItems .item a:hover i,
.cardItems .item a:hover span {
  color: #ffffff;
}

.cardItems .item a::after {
  background: #ffffff none repeat scroll 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  content: "";
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.cardItems .item i, 
.cardItems .item .info {
  display: table-cell;
  vertical-align: top;
}

.cardItems.text-center .item i, 
.cardItems.text-center .item .info {
  display: block;
}

.cardItems.text-center a {
  padding: 30px;
}

.cardItems.text-center .item i {
  margin: auto auto 15px;
  color: #002147;
}

.cardItems.text-light .item i {
  margin: auto auto 15px;
  color: #ffffff;
}

.cardItems.text-center .item .info {
  padding-left: 0;
}

.cardItems.text-center .item .info h4 {
  margin-bottom: 2px;
}

.cardItems .item .info {
  padding-left: 15px;
  text-align:left;
}

.cardItems .item i {
  font-size: 50px;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  color: #fff;
}

.cardItems .item h4 {
  font-weight:800;
  margin-bottom: 10px;

  font-size:15px;

  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  color:#fff;
}

.cardItems .item span {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;


  color: #666666;
}

.cardItems .item span {
  color: #ffffff;
}

.bg-blue {
    /*background-image: url('../img/category/1.jpg');*/
    background-image: url('../img/category/diploma.jpg');
    width: 100%;
}

.bg-cyan {
    /*background-image: url('../img/category/2.jpg');*/
    background-image: url('../img/category/typewriter.jpg');
    width: 100%;
}

.bg-green {
    /*background-image: url('../img/category/3.jpg');*/
    background-image: url('../img/category/shorthand.jpg');
    width: 100%;
}
.bg-purple {
    /*background-image: url('../img/category/4.jpg');*/
    background-image: url('../img/category/ccic.jpg');
    width: 100%;
}
.bg-yellow {
    /*background-image: url('../img/category/5.jpg');*/
    background-image: url('../img/category/comingsoon.jpg');
    width: 100%;
}

.bg-pink {
    /*background-image: url('../img/category/6.jpg');*/
    background-image: url('../img/category/comingsoon.jpg');
    width: 100%;
}

.bg-red{
    /*background-image: url('../img/category/7.jpg');*/
    background-image: url('../img/category/comingsoon.jpg');
    width: 100%;
}
.bg-rose{
    /*background-image: url('../img/category/8.jpg');*/
    background-image: url('../img/category/comingsoon.jpg');
    width: 100%;
}
.item.bg-blue a::after {
  background: #307ad5 none repeat scroll 0 0;
}

.item.bg-cyan a::after {
  background: #1ec1d9 none repeat scroll 0 0;
}

.item.bg-green a::after {
  background: #10c45c none repeat scroll 0 0;
}

.item.bg-purple a::after {
  background: #9784c2 none repeat scroll 0 0;
}

.item.bg-yellow a::after {
  background: #f9bd44 none repeat scroll 0 0;
}

.item.bg-pink a::after {
  background: #e948ae  none repeat scroll 0 0;
}

.item.bg-red a::after {
  background: #e84b3a none repeat scroll 0 0;
}

.item.bg-rose a::after {
  background: #92278f none repeat scroll 0 0;
}


.smilerArea.autopadding.bottom-less {
    padding-bottom: 40px;
}
.smilerArea {
    padding-bottom: 30px;
}
.bg-fixed {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.autopadding {
    padding-top: 20px;
    padding-bottom: 80px;
}
.shadow {
    position: relative;
    z-index: 1;
}

.shadow.Softed::after {
    background: #0566a8 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}


/* ============================================================== 
     # Fun Factor 
=================================================================== */
.smilerArea {
    background-image: url('../img/custom/counter_bg.jpg');

}
.smilerArea.autopadding.bottom-less {
  padding-bottom: 0px;
}

.smilerArea {
  padding-bottom: 0px;
}

.smilerArea .item {
  margin-bottom: 40px;
}

/*.smiler {
  border: 1px solid rgba(255, 255, 255, 0.2);
  -moz-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
  -o-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
  box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  padding: 30px 20px;
}*/

.smiler .info {
  padding-left: 20px;
}

.smiler .info span {
  display: block;

}

.smiler .icon i {
  color: #c7dde7;
  display: inline-block;
  font-size: 60px;
  margin-bottom: 15px;
  margin-left: 15px;
  position: relative;
  z-index: 1;
}

.smiler .info .timer {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;

  line-height: 1.2;
}

.smiler .info .medium {
  color: #ffffff;
  font-size: 17px;
  text-transform: uppercase;
}

/* ============================================================== 
     # our logos
=================================================================== */
.ourlogos .row {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.ourlogos .logofielder img {
    margin: auto;
    width: auto !important;
}
.ourlogos .info h4 {
  text-transform: uppercase;
}

.ourlogos .info p {
  margin: 0;
}


.inner-banner{
    width:100%;
    position:relative;
        background-image: url('../img/custom/counter_bg.jpg');
        padding:75px 0px 75px 0px;
        background-size:cover;
        background-position:center;
}
.inner-banner:before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: #000000;
    opacity: 0.7;

}

.banner-heading{
    width:100%;
    margin:0 auto;
    padding:0px;
    float:left;
    text-align:center;
}
.banner-heading h2{
    background:#fff;
    padding: 10px 20px;
font-size: 25px;
    color:#07294d;
    text-align:center;
    display:inline-block;
    font-weight: 700;
    text-transform:uppercase;
}

.pages-links{width:100%; margin:0 auto;    background-color: #e6e9ed; padding:10px;}

.pages-links .breadcrumb{
    margin-bottom:0px;
}
.breadcrumb {
	display: unset;
	display: unset;
	display: block;
	-ms-flex-wrap: unset;
	flex-wrap: unset;
	padding: 0;
    padding-left: 10px;
	margin-bottom: 0;
	list-style: none;
	background-color: unset;
	border-radius: unset;
}
 .breadcrumb li {
	display: inline-block;
	color: #5e5d7c;
	font-size:14px;
    font-weight:bold;

}
.breadcrumb li a {
	color: #07294d !important;
}
.breadcrumb-link .breadcrumb li.active {
	color: #ffb607;
}
.inner-body{
    padding: 40px 0;
    position: relative;
    overflow: hidden;
}

.inner-heading {
    margin-bottom:2rem;
    position: relative;
    z-index: 1;
}

.inner-heading h3 {
    position: relative;
    padding-left: 20px;
    font-weight:600;
    margin-bottom: 10px;
    font-size: 21px;
        color: #2a2f52;
}
.inner-heading h3:before {
    content: "";
    position: absolute;
    left: 1px;
    top: 0;
    height: 100%;
    width: 4px;
    background: #3db166;
}


.inner-heading h2 {
    margin-bottom: 0;
    font-size: 36px;
        color: #2a2f52;
        font-weight: 700;
    line-height: 1.3;
}
.mar-0 {
    margin: 0;

}

.about-items p{
    color: #576784;
    font-size: 15px;
    line-height: 2.5em;
    margin: 20px 0px 20px 0px;
}

.about-items ul {
    /* margin: 0px 0px 30px 0px; */
    /* width: 100%; */
    /* float: left; */
}
.about-items ul li {
    font-size: 14px;
    line-height: 2em;
    list-style-type: disc;
    MARGIN-LEFT: 20PX;
    padding-bottom: 15px;
    color: #242a35;
}

.about-items ul li i{
    font-size:10px;
    color:#3db166;
    padding-right:10px;
}

.c-image{

    margin:0 auto;
    padding:0px;
    text-align:center;
}
.c-image img{
    width:40%;
    margin:0 auto;
    padding:0px;
    text-align:center;
}
/*-------contact----------------*/
.no-padding {
    padding: 0;
}
.sub-title h3{
    position: relative;
    padding-left: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 21px;
    color: #35A5F1;
}
.single-address {
    padding: 40px 40px;
    line-height: 1em;
}
.inner-heading h4:before {
    content: "";
    position: absolute;
    margin-left:-20px;
    top: 0;
    height: 100%;
    width: 4px;
    background: #3db166;
}
.my_Clr {
    color: #35A5F1;
    background-color: #f4f3f3;
    border: 1px solid #ddd;
    padding: 10px;
}
	.list-css{
	border-bottom: dotted 1px #000;
    padding: 10px;
	color: #35a5f1;
	}
	.pad_cls{
	padding :10px;
	height:338px;
	overflow-y: auto;
	}
	.Not_height{
	
	border:1px solid #ddd;
	
	}
	.holder { 
  /*background-color:#ccc;
  width:300px;*/
  height:291px!important;
  overflow:hidden;
      height: 282px;

  /*font-family:Helvetica;*/
}
.holder .mask {
  position: relative;
  left: 0px;
   height:249px!important;
   height: 249px;
   padding:10px;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  /* position: relative; */
}
.holder ul li {
  padding:10px 10px;
  font-size:13px;
}
.holder ul li a {
  color:#007bff;
  text-decoration:none;
}
.l-news h2 {
    border: 1px solid #1e7ebf;
    background: #35a5f1;
    padding: 8px 20px;
    float: left;
    color: #fff;
    font-size: 12px;
    margin: 8px 10px 6px 0px;
    border-radius: 0px 50px;
}
.btn-outline-black {
    background-color: transparent;
    border: 2px solid #35a5f1;
    background: #35a5f1;
    color: #fff;
    padding: 5px 20px;
    font-size: 9px;
    /* position: absolute; */
    /* top: -20px; */
    /* float: right!important; */
}
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
.not_bord{
border-bottom:1px dotted #000;
}
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 0px;
}

.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 30px;
	height: 30px;
	font-size:16px;
	/*background-color: #29487d;*/
    background-color: #368ec9;
}
.social-circle li i {
	margin:0;
	line-height:30px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
/*---------Accordion Start-----*/

.c-accordion .wrap {
  /*box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);*/
  border-radius: 4px;
}

.c-accordion .panel {
    border-width: 0 0 1px 0;
    border-style: solid;
    /* border-color: #fff; */
    background: none;
    box-shadow: none;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.c-accordion .panel:last-child {
  border-bottom: none;
}

.c-accordion .panel-group > .panel:first-child .panel-heading {
  border-radius: 0px;
}

.c-accordion .panel-group .panel {
  border-radius: 0;
}

.c-accordion .panel-group .panel + .panel {
  margin-top: 0;
}

.c-accordion .panel-heading {
  background-color: #35a5f1;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0;
}
.c-accordion .panel-title{
    margin-bottom: 0px;
}
.c-accordion .panel-title a {
  display: block;
  color: #fff;
  padding: 13px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.c-accordion .panel-body {
  background: #fff;
  padding: 10px;
}

.c-accordion .panel:last-child .panel-body {
  border-radius: 0px;
  border-bottom: 1px solid #ddd;
}

.c-accordion .panel:last-child .panel-heading {
  border-radius: 0px;
  transition: border-radius 0.3s linear 0.2s;
}

.c-accordion .panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.c-accordion .panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}

.c-accordion .panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  transform: scale(0);
}

.c-accordion #bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s;
}

.c-accordion #bs-collapse .panel-heading.active a:after {
  content: '\e909';
  transform: scale(1);
  transition: all 0.5s;
}
/* #accordion rotate icon option */

.c-accordion #accordion .panel-heading a:before {
  content: '\e316';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: rotate(180deg);
  transition: all 0.5s;
}

.c-accordion #accordion .panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #fff;
    color: #35a5f1;
}
#ticker01{
    height: 245px !important;
}
.logo-c {
    /* width: 85px; */
    /* height: 85px; */
    /* float: right; */
}
.logo-c img{
    border-radius: 50%;
    margin-top: 0px;
}
.inner-p{
    margin-bottom: 10px;
}
.float-right{
    float: right;
}
/*---sevice cards---*/
.index-page-mind .panel-primary {
    border: 0 solid #fff!important;
}

.btn-primary, .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .panel-group>.panel .panel-heading a, .panel-primary, .panel-primary .panel-heading {
    background-color: #2886cd;
}
.form-control:focus, .panel-primary, .well, blockquote {
    border-color: #2886cd;
}
.alert, .panel, .progress {
    border-radius: 0;
}
.panel {
    margin-bottom: 0px;
    background-color: transparent;
    border: 1px solid transparent;
    /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);*/
}
.index-page-mind .panel-body {
    padding: 2px 0 10px;
}
.panel>.panel-body {
    background-color: #FFF;
    margin: 0;
}
.conn-lay {
    text-align: center;
}
.panel-body:after, .panel-body:before {
    display: table;
    content: " ";
}
#mind-features {
    margin-bottom: -11px;
    float: left;
    width: 100%;
    /*background-color: #fff;*/
}
.clearfix:after, .clearfix:before {
    display: table;
    content: " ";
}
.index-page-mind #mind-features .col-sm-3 {
    padding: 0 5px 0 0;
}
.animated.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    -moz-animation-name: bounceInLeft;
    -o-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}
.mind-features-item:hover .conn-lay p {
    height: 74px;
    transition: all .5s linear;
    padding-top: 41px;
}
.mind-features-item:hover .conn-lay p a {
    color: #fff;
    font-size: 16px;
    transition: all .5s linear;
    text-decoration: none;
}
@media (min-width: 768px){
.mind-features-item {
    width: 100%;
}
}
.mind-features-item {
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    height: 128px;
    margin: 0 auto 6px;
    width: 100%;
    margin-bottom: 17px;
}
.animation-delay-8 {
    -webkit-animation-delay: .8s!important;
    -moz-animation-delay: .8s!important;
    -ms-animation-delay: .8s!important;
    -o-animation-delay: .8s!important;
    animation-delay: .8s!important;
}
.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
.conn-lay {
    text-align: center;
    padding: 0px;
}
    .conn-lay p {
        color: #230909;
        background-color: #35a5f1;
        padding: 0;
        height: 0;
        font-size: 13px;
        width: 100%;
        text-align: justify;
        margin-bottom: 27px;
        transition: all .5s linear;
    }
.conn-lay p a{
    color: #35a5f1;
    font-size: 12px;
    font-weight: bold;
}
.not_bord:hover {
    background-color: #dbeeff;
}
p {
    margin: 0 0 10px;
}
.mind-features-item .item-icon {
    text-align: center;
}
.mind-features-item span {
    color: #2886cd;
}

.conn-lay span {
    color: #fff;
    padding: 5px;
    font-size: 30px;
    margin-top: -4px;
    border-radius: 3px;
}
.conn-lay h4, .conn-lay span, .lang a {
    font-weight: 700;
}
.mind-features-item .item-content, .pricign-box-pro>.pricing-box-header {
    background-color: #35a5f1;
}
.mind-features-item .item-content {
    color: #fff;
    padding: 6px;
    height: 61px;
    position: absolute;
    z-index: 10;
    top: 65px;
    left: 0;
    width: 100%;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}
.icon-item i, .item-content {
    display: table-cell;
}
.conn-lay .counter {
    font-size: 21px;
    text-align: center;
    color: #fff;
}

.mind-features-item span {
    color: #2886cd;
}
.conn-lay span {
    color: #35a5f1;
    padding: 5px;
    font-size: 30px;
    margin-top: -4px;
    border-radius: 3px;
}
.conn-lay h4, .conn-lay span, .lang a {
    font-weight: 700;
}
@media (min-width: 992px){
.mind-features-item .item-content h3 {
    font-size: .87em;
    margin: 2px 0 20px;
}
}
.mind-features-item .item-content h3 {
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    margin: 5px 0 15px;
    color: #fff;
}
.inner-section {
    padding: 0px 0;
    position: relative;
    overflow: hidden;
}
.section-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 18px;
    color: #2886cd;
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
    margin-top: 0;
    padding-top: 0;
    float: left;
}
/*----tabs-----*/
.section-tabs .tab {
  padding-top: 0px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #888;
  border: 1px solid #ddd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-font-smoothing: antialiased;
  /*min-height: 390px;*/
}

.section-tabs .tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
}
.section-tabs .tabs li {
  float: left;
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 50%;
}
.section-tabs .tabs a {
  background-color: #eff0f2;
  border-bottom: 1px solid #2886cd;
  color: #888;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #2886cd;
}

.section-tabs .tabs_item {
  display: none;
  padding: 30px 0;
}
.section-tabs .tabs_item h4 {
  font-weight: bold;
  color: blue;
  font-size: 20px;
}
.section-tabs .tabs_item img {
  width: 200px;
  float: left;
  margin-right: 30px;
}
.section-tabs .tabs_item:first-child {
  display: block;
}

.section-tabs .current a {
  color: #fff;
  background: #35a5f1;
}
.links ul li {
    font-size: 14px;
    line-height: 20px;
    list-style-type: none;
    padding-bottom: 15px;
    color: #242a35;
    margin-left: 10px;
    float: left;
    width: 100%;
}
.links ul {
    margin: 0px 0px 0px 0px;
    width: 100%;
    /*float: ;*/
}
.links ul li a {
    color: #428bca;
    text-decoration: none;
    float: left;
}
    .links ul li a i {
        margin-right: 5px;
    }
.links ul li a:hover {
    color: #2a6496;
    text-decoration: underline;
}
.introduction{
    border: 1px solid #ddd;
    padding: 10px;
    min-height: 354px;
}
.bg-h3 {
    background-color: #35a5f1;
    margin: 5px 0px;
}
.bg-h3 h3 {
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    padding: 10px;
}
.section-tabs {
    margin-bottom: 25px;
}
.width-33 {
    width: 33.3%;
    border-radius: 0px;
    padding: 4px;
    background-color: #35a5f1;
    border: none;
    font-size: 12px;
}

.width-33:hover {
    background-color: #35a5f1;
    text-decoration: underline;
}
.width-33 i {
    color: #6bff0e;
    font-size: 18px;
}
.btn-group {
    width: 100%;
}
.items {
    /* padding: 0px; */
    margin: 5px;
    padding: 0px 10px 0px 10px;
    flex: 1 0 calc(9% - 10px);
    box-sizing: border-box;
}
@media only screen and (max-width: 768px){
    .items {
        margin: 10px;
        flex: 1 0 calc(100% - 20px);
        box-sizing: border-box;
    }
}
#open-popup-1,#open-popup-2,#open-popup-3,#open-popup-4,#open-popup-5 {padding:0px}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}
.w-90:hover {
    cursor: zoom-in;
    /*cursor:zoom-in;
  width: 105%;
  height: 105%;*/
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.w-90{
    /*width: 95%;*/
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
/*----feedback-----*/
.fd-form {
    display: block;
    position: absolute;
    top: 0;
    z-index: 999;
}
.fd-form a {
    position: fixed;
    color: #fff;
    transform: rotate(90deg);
    transform-origin: left top 0;
    right: -105px;
    top: 50%;
    height: 35px;
    background-color: #094088;
    padding: 5px 8px!important;
    font-size: 20px;
}
.section-form {
  margin: 3em auto;
  background-color: #f3efe7;
  padding: 2em;
}
.section-form .intro {
  margin-bottom: 2em;
}
.section-form h1 {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 0.6em;
}
.section-form h2 {
  text-align: center;
  font-size: 19px;
}

/*input[type=text] {
  height: 45px;
}*/

/*input[type=text], textarea {
  width: 100%;
  margin-bottom: 1em;
  font-size: 14px;
  color: #cfcece;
  font-weight: 300;
  padding: .5em 1em;
  border: none;
  color: #555555;
  font-weight: 300;
}*/
/*input[type=number], textarea {
  width: 100%;
  margin-bottom: 1em;
  font-size: 14px;
  color: #cfcece;
  font-weight: 300;
  padding: .5em 1em;
  border: none;
  color: #555555;
  font-weight: 300;
}*/

input[type=button] {
  cursor: pointer;
  margin: 0;
  padding: .5em 2em;
  background: #636363;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
/*---font controller---*/
.controllSize {
	text-align: right;
	margin: 0px auto;
    line-height: 0;
}

.controllSize a {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.controllSize .boxCtrl {
	display: inline-block;
}
.controllSize .boxCtrl a {
    width: 30px;
    height: 30px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #f4f4f4;
    border: 4px solid #fff;
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    font-size: 12px;
}
.controllSize .boxCtrl a:hover {
    background-color: #c8c8c8;
    border-color: #333;
}
.controllSize .boxCtrl a#contrast-b {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}
.controllSize .boxCtrl a#contrast-w {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

/* Constrast White */
html body.contrast-white {
    background-color: #fff !important;
    color: #333 !important;
    box-shadow: none;
}
html body.contrast-white h1,
html body.contrast-white p{
	color: #333 !important;
}

/* Constrast Black */
html body.contrast-black {
    background-color: #333 !important;
    color: #fff !important;
    box-shadow: none;
}
html body.contrast-black h1,
html body.contrast-black p{
	color: #fff !important;
}
/*--------------------Mobile Responsive start------------*/
@media only screen and (max-width: 768px) and (min-width: 375px) {
    #myCarousel .item .mask {
        top: 30px !important;
    }
    .test-scroll {
        width: 63%;
    }
}
@media only screen and (max-width: 420px) and (min-width: 390px) {
    #myCarousel .item .mask {
        top: 24px !important;
    }
}
@media only screen and (max-width: 320px){
    #myCarousel .item .mask {
        top: 42px !important;
    }
    .test-scroll {
        width: 53%;
    }
    .working-days{
        top: 0px !important;
    }
}
@media only screen and (min-width: 1900px) {
    #myCarousel .item .mask {
        top: 37px;
    }
}
/*----common mobile responsive---*/
@media only screen and (max-width: 767px) {
    .controllSize {
        display: none;
    }
    .logo {
        width: 100%;
    }
    .info-menus ul li a {
        font-size: 12px !important;
    }
    .items {
        padding: 0px 5px 0px 5px;
    }
    .mind-features-item {
        margin-bottom: 0px;
    }
    .m-none{
        display:none;
    }
    .social-container .col {
        margin: 0px 0px 0px 0px;
    }
    footer.section.footer-classic.context-dark.bg-image {
        padding: 0px 0px 0px 0px;
    }
    #mind-features {
        margin-bottom: 0px;
    }
    .logo img {
        height: auto;
    }
}
div{
    font-size:12px;
}
/*-----------------Mobile Responsive end------------*/ 