ul.ul_page {
    list-style: none;
    margin: 0;
    display: inline-flex;
    /*border: 1px solid #ddd;*/
    /*border-radius: 3px;*/
}

li.page_li {
    border: 1px solid #ddd;
    padding: 5px 15px;
    color: #1f497d;
    border-radius: 1px;
}

li.page_li1 {
    border: 1px solid #ddd;
    padding: 5px 15px;
    color: #1f497d;
    border-radius: 5px 1px 1px 5px;
}

li.page_li3 {
    border: 1px solid #ddd;
    padding: 5px 15px;
    color: #1f497d;
    border-radius: 1px 5px 5px 1px;
}

a.page {
    color: #1f497d;
    text-decoration: none;
    font-weight: 600;
}

li.page_li.ng-scope.active {
    background-color: #ddd;
    /* color: #fff; */
    /* border: 1px solid #fff; */
}

.event-item {
    min-height: 60px;
    border-bottom: 0px;
}

.top_head {
    border-bottom: 3px solid #1f497d;
    color: #1f497d;
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 5px;
    border-top: 0px;
    border-bottom: 2px solid #ddd;
    background-color: #fff;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 2px solid #ddd;
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 5px;
    border-top: 0px;
    border-bottom: 2px solid #ddd;
    background-color: #fff;
    border: 2px solid #ddd;
}

.irs-courses-col {
    margin-bottom: 30px;
}

.irs-courses-content1 {
    padding: 30px 20px 0px 20px;
    text-align: justify;
    min-height: 240px;
    color: #000;
    background-color: #fff;
    border: 1px solid #e8e3e3;
}


a.content-head {
    font-family: system-ui;
    font-size: 19px !important;
    color: #1f497d;
    font-weight: 600;
    text-transform: none;
}
