<script>
    window.scroll({
        top: 0,
        left: 0,
        behavior: 'smooth'
    });
</script>
<link href="/contents/css/Pages/InfrastructureDetails.css" rel="stylesheet" />
<div ng-controller="InfrastructureDetailsController">
    <section class="irs-inner-page-heading irs-layer-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="irs-inner-heading">
                        <h2>Infrastructure</h2>
                        <i class="icofont icofont-education"></i>
                        <p>
                            <a ui-sref="index">HOME</a> &gt; <a ui-sref="index.InfrastureDetails">Infrastructure</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="irs-courses-field">
        <div class="container">
            <div class="row animatedParent animateOnce">

                <div class="col-md-4 " ng-repeat="data in Courses">
                    <div class="irs-courses-col animated  slow card">
                        <div class="irs-courses-img">
                            <img ui-sref="{{data.uisref}}" src="{{data.src}}" alt="">
                            <!-- <div class="irs-time">
                                <p><a href="#">10:00 pm - 4:00 pm</a>
                                </p>
                            </div> -->
                            <div class="irs-courses-img-text">
                                <ul class="clearfix">
                                    <!-- <li>
                                        <p><i class="zmdi zmdi-calendar-alt"></i> 3 years</p>
                                    </li>
                                    <li class="pull-right">
                                        <p><i class="zmdi zmdi-money"></i> 350</p>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="irs-courses-content1 ">
                            <center><h4><a class="content-head" ui-sref="{{data.uisref}}"> {{data.Course_Name}}</a></h4></center>
                            <p class="infra_text">{{data.Course_Description}}</p>
                            <!--  <a class="btn btn-default irs-btn-transparent-two" href="" role="button">read more</a>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
