<!--<style>


</style>-->
<link href="/contents/css/Pages/Register/Registration.css" rel="stylesheet" />
<div ng-controller="RegistrationController">
    <div class="">
        <div class="sm-spacer"></div>
        <div class="sm-spacer"></div>
        <!-- Start Login
        ============================================= -->
        <div class="login-area default-padding">
            <div class="container">

                <div class="col-md-10 col-md-offset-1">
                    <form id="register-form" class="white-popup-block">
                        <div class="col-md-3 login-Sidepanel">
                            <h4 class="pol_reg">Polycet - 2023</h4>
                            <!--<p class="reg_text" style="padding-left:0px;">Application for admission to all Diploma Courses at Polytechnics / Institutions in Telangana State and Diploma in Agriculture, Agriculture Engineering, Seed Technology & Organic Agriculture Courses offered by Professor Jay Shankar Telangana State Agricultural University (PJTSAU), Diploma Courses offered by Sri Konda Laxman Telangana State Horticulture University (SKLTSHU).</p>
                            <br>
                            <br>-->
                            <img src="/assets/img/sbtet-logo.png" class="img-login-logo" />
                            <br />
                            <h4 class="fee_class">Application Fee</h4>
                            <div> For SC/ST : Rs. 250</div>
                            <div> For Others : Rs. 450</div>

                        </div>
                        <div class="col-md-9 login-custom">
                            <div class="col-md-12">
                                <h4> Registration</h4>
                            </div>

                            <div class="col-md-12">

                                <div class="form-group">
                                    <label>Applicant Name (as per SSC/10th class or its Equivalent) *</label>
                                    <input class="form-control" placeholder="Applicant Name (as per SSC/10th class or its Equivalent) *" type="text" ng-model="StudentName">
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Mobile Number</label>
                                    <input class="form-control" maxlength="10" minlength="10" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-disabled="PhoneNum" placeholder="Enter Mobile Number *" type="text" ng-model="MobileNumber">
                                </div>

                            </div>

                            <div class="col-md-1" ng-if="sendotp">
                                <div class="">

                                    <button ng-click="SendSms(MobileNumber,StudentName)" ng-disabled="otpbutton" class="btn btn-xs btn-success verify_margin">
                                        Verify OTP
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="enterotp&&!phonenoupdated">

                                <div class="form-group">
                                    <label>Enter OTP</label>
                                    <input class="form-control" placeholder="Enter Otp" type="text" ng-model="mobileotp">
                                </div>

                            </div>
                            <div class="col-md-3" ng-show="enterotp||OtpVerified">
                                <div class="form-group">
                                    <a ng-click="ResendOtp()" class="link-top" ng-show="ResendLink&&!phonenoupdated">Resend OTP </a>
                                    <button ng-click="VerifyMobileOtp(MobileNumber,StudentName, mobileotp)" ng-show="verifyotp&&!phonenoupdated" class="btn btn-xs btn-success " style="margin-top:10px;">
                                        Verify
                                    </button>
                                    <div class="cls_verified1 verify_margin" style="color: #5cb85c; font-weight: bold;" ng-show="OtpVerified&&phonenoupdated"><i class="fa fa-check" style="display: inline-block; font-size: inherit; font: normal normal normal 14px/1 FontAwesome;" aria-hidden="true"></i> Verified</div>
                                </div>
                            </div>


                            <!--<div class="col-md-6">

                                <div class="form-group">
                                    <input class="form-control" ng-disabled="aadharbox" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Enter Aadhar Number *" type="text" minlength="12" maxlength="12" ng-model="AadharNo">
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <input class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="ReEnter Aadhar Number *" type="password" minlength="12" maxlength="12" ng-model="ReAadharNo">
                                </div>
                            </div>-->
                            <!--<div class="col-md-12  mtp-50">
                                <div style=" width: 590px;text-align:right;margin-top: -145px;" ng-if="loading">
                                    <img src="../../contents/img/loading2.gif" width="100" style="height:50px;width:50px" />

                                </div>
                            </div>-->

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control" id="CasteCategoryID" ng-model="CasteCategory"
                                            ng-options="data.CasteCategoryID as data.CasteCategoryName for data in GetCasteData">
                                        <option value="" selected>Select Caste Category</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" ng-show="CasteCategory ==7 || CasteCategory==8">

                                <div class="form-group">
                                    <label>Aadhaar Number</label>
                                    <input class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="12" minlength="12" placeholder="Aadhaar Number" type="text" ng-model="Aadhaar">
                                </div>
                            </div>
                            <div class="col-md-6" ng-show="CasteCategory ==7 || CasteCategory==8">

                                <div class="form-group">
                                    <label>Caste Certificate Number</label>
                                    <input class="form-control" placeholder="Caste Certificate Number" type="text" ng-model="CasteNum">
                                </div>
                            </div>
                            <div class="col-md-6" ng-show="CasteCategory ==7 || CasteCategory==8">
                                <div class="">

                                    <button ng-click="GetCasteDetails()" ng-show="verifycastebutton" ng-disabled="otpbutton" class="btn btn-xs btn-success verify_margin">
                                        Verify Caste
                                    </button>
                                    <div class="cls_verified" style="color: #5cb85c; font-weight: bold;" ng-show="CasteVerified"><i class="fa fa-check" style="display: inline-block; font-size: inherit; font: normal normal normal 14px/1 FontAwesome;" aria-hidden="true"></i> Verified</div>
                                </div>
                            </div>

                            <div class="col-md-12" ng-show="CasteCategory ==7 || CasteCategory==8">
                                <div class="form-group">
                                    <label>Email(Optional)</label>
                                    <input class="form-control" placeholder="Email(Optional)" type="text" ng-model="email">
                                </div>
                            </div>
                            <div class="col-md-6" ng-show="CasteCategory !=7 && CasteCategory!=8">
                                <div class="form-group">
                                    <label>Email(Optional)</label>
                                    <input class="form-control" placeholder="Email(Optional)" type="text" ng-model="email">
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Create Password</label>
                                    <input class="form-control" placeholder="Create Password" type="password" ng-model="CreatePass">
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input class="form-control" placeholder="Confirm Password" ng-blur="ChangePassword()" type="text" ng-model="ConfirmPass">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Captcha</label>
                                    <input class="form-control" placeholder="Captcha" type="text" ng-model="CaptchaText">
                                </div>
                            </div>
                            <div class="col-md-3" style="padding:0px;">
                                <label></label>
                                <img class="refresh_captcha" data-ng-src="data:image/png;base64,{{CaptchaImage}}" width="150" height="33" />
                            </div>
                            <div class="col-md-2">
                                <a class="" title="Click to Refresh Captcha" ng-click="GetCaptchaData()"><img class="refresh_img" src="/assets/img/reload.png" /> </a>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-primary btn_margin" ng-click="ValidateCaptcha()">
                                        Register
                                    </button>
                                </div>

                                <!--<div class="col-md-8" ng-click="Cancel()">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-xs btn-danger">
                                            Cancel
                                        </button>
                                    </div>
                                </div>-->
                            </div>
                            <div class="col-md-12">
                                <p class="lost-pass-link">Already Registered ?<a ui-sref="index.Login">Login</a></p>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
