<!--<style>

</style>-->
<link href="/contents/css/Pages/CCIC/CCICProcess.css" rel="stylesheet" />
<div ng-controller="CCICProcessController">
    <section class="irs-inner-page-heading irs-layer-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="irs-inner-heading">
                        <h2>Service Details</h2>
                        <i class="icofont icofont-education"></i>
                        <p>
                            <a ui-sref="index">HOME</a>&gt; <a ui-sref="index.AffiliationList">Affiliation List</a> &gt; <a ui-sref="index.CCICAffiliationList">CCIC</a>&gt; <a ui-sref="index.CCICAffiliationList.CCICProcess">CCIC Process</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="xs-spacer"></div>
    <div class="container card pad_30">
        <h3 class="text-center txt_head">
            STATE BOARD OF TECHNICAL EDUCATION AND TRAINING
            MANGALAGIRI, ANDHRA PRADESH
        </h3>
        <h4 class="text-center txt_head">
            GRANTING AFFILIATION TO PRIVATE INSTITUTES OFFERING CCIC/ TWSH COURSES BY THE STATE BOARD OF TECHNICAL EDUCATION AND TRAINING,ANDHRA PRADESH
        </h4>

        <ul>
            <li class="li_css">1.	All Private Institutes offering CCIC/ Type Writing and Short Hand Courses in the State of Andhra Pradesh must be affiliated to the STATE BOARD OF TECHNICAL EDUCATION AND TRAINING ANDHRA PRADESH for Every Academic Year.</li>
            <li class="li_css">2.	The Private Institutes offering CCIC/ Type Writing and Short Hand Courses in the State of Andhra Pradesh seeking affiliation to their Institutes should apply in the prescribed application format as per the SBTET norms.  </li>
            <li class="li_css">3.	A notification will be placed in the SBTE&T, A.P ., Web Site inviting applications from the concerned Principles for Grant of Affiliation well before the starting of admission process every year by the SBTE&T, A.P.</li>
            <li class="li_css">4.	Basing on the applications received, SBTE&T, A.P shall appoint inspection committees consisting both administrative and subject wise experts for physical Verification in their institutes.  </li>
            <li class="li_css">5.	The Institutes should produce all relevant documents, proofs, records, photographs etc. as per the inspection format before the Inspection Committee. </li>
            <li class="li_css">6.	The faculty members of the concerned institutes should present physically at the time of inspection.</li>
            <li class="li_css">7.	The inspection committee will submit a detailed report basing on the institute application and physical verification to SBTE&T, A.P.</li>
            <li class="li_css">8.	As per the recommendations of the Inspection Committee, the Secretary, SBTE&T, A.P., will Grant Affiliation or Issue notices to concerned institutes to comply the deficiencies in the prescribed time. </li>
        </ul>

        <br />
        <br />
        <h4 class="text-center txt_head">ISSUE OF NO OBJECTION CERTIFICATE TO START NEW CCIC/TWSH COURSE/ INCREASE IN INTAKE/ REDUCTION IN INTAKE IN CCIC/TWSH BY THE STATE BOARD OF TECHNICAL EDUCATION AND TRAINING,  ANDHRA PRADESH</h4>
        <ul>
            <li class="li_css">1.	All Private Institutes starting New CCIC/ Type Writing and Short Hand Courses and Increase in Intake / Reduction in Intake of existing Courses in the State of Andhra Pradesh must be Applied and Obtain No Objection Certificate from the STATE BOARD OF TECHNICAL EDUCATION AND TRAINING ANDHRA PRADESH for Every Academic Year.</li>
            <li class="li_css">2.	The Private Institutes starting New CCIC/ Type Writing and Short Hand Courses and Increase in Intake / Reduction in Intake of existing Courses in the State of Andhra Pradesh should apply in the prescribed application format as per the SBTET norms.  </li>
            <li class="li_css">3.	A notification will be placed in the SBTE&T, A.P Web Site inviting applications from the concerned Principles for issue of No Objection Certificate  well before the starting of admission process every year by the SBTE&T, A.P</li>
            <li class="li_css">4.	Basing on the applications received, SBTE&T , A.P shall appoint inspection committees consisting both administrative and subject wise experts for physical Verification in their institutes.   </li>
            <li class="li_css">5.	The Institutes should produce all relevant documents, proofs, records, photographs etc. as per the inspection format before the Inspection Committee. </li>
            <li class="li_css">6.	The faculty members of the concerned institutes should present physically at the time of inspection.</li>
            <li class="li_css">7.	The inspection committee will submit a detailed report basing on the institute application and physical verification to SBTE&T, A.P.</li>
            <li class="li_css">8.	As per the recommendations of the Inspection Committee, the Secretary, SBTE&T, A.P., will Issue No Objection Certificate to start New CCIC/ Type Writing and Short Hand Courses and Increase in Intake / Reduction in Intake of existing Courses to the concerned Institutes. </li>
        </ul>
    </div>
</div>

