.what-learn-area .info p {
    margin-bottom: 0;
    text-align: justify;
}
.categories span {
    margin-top: 5px;
}
.default-padding {
    padding-top: 0px;
    padding-bottom: 80px;
    margin-bottom: 0px;
    
}
nav.navbar.bootsnav.sticked .navbar-brand {
     padding: 15px 15px; 
}
.top-cat-area.inc-trending-courses.about-area.default-padding {
    margin-top: 40px;
}
.bg-dark {
    background: #1F497D none repeat scroll 0 0;
}
.what-learn-area .info p {
    margin-bottom: 0;
    text-align: justify;
    color: #666666;
}
.what-learn-area .info h2 {
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.3;
    color: #1F497D;
}
img.logo {
    height: 65px!important;
}
.header_text{
    font-size: 19px;
    margin: 25px 0px;
    color: #1F497D!important;
    font-weight: 600;
    text-transform: uppercase;
}
nav.navbar.bootsnav.sticked ul.nav > li > a {
    padding: 35px 15px;
}
.navbar-header {
    width: 32%;
}

@media (max-width: 767px) {
    .navbar-header {
        width: auto;
    }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .login-Sidepanel {
       display:none;
    }
}
    nav.navbar.bootsnav .navbar-brand {
        padding: 15px 15px !important;
    }

    .what-learn-area::after {
        position: absolute;
        right: -120px;
        top: 300px;
        content: "";
        height: 500px;
        width: 70%;
        background: #1F497D;
        z-index: -1;
        transform: rotate(-20deg);
        opacity: 0.07;
    }

    .home-sidebar .sidebar-item > h4 {
        background: #1F497D !important;
        background: none repeat scroll
    }

    .home-sidebar .sidebar-item .item i {
        color: #1F497D;
    }

    .corousel_pad {
        margin: 5px 0px;
    }

    .site-visit {
        background-color: #fff;
        color: #000;
        letter-spacing: 10px;
        padding: 2px 0px 2px 8px;
        margin-left: 5px;
    }

    .text-right {
        text-align: right;
        color: #fff;
    }

    footer .footer-bottom {
        background: #1F497D none repeat scroll 0 0;
        margin-top: 0px !important;
        ;
    }

    .sm-spacer {
        height: 40px;
        ;
    }

    nav.navbar.bootsnav ul.nav > li > a:hover {
        color: #1F497D;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #1F497D;
        font-weight: normal;
        line-height: 1.2;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0;
        margin: 0;
    }

    nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover {
        color: #1F497D;
    }

    form.white-popup-block button[type="submit"] {
        /*background: #4F7CCB none repeat scroll 0 0;*/
        border: medium none;
        color: #fff;
    }

    .top-bar-area .user-login a {
        background: #4F7CCB none repeat scroll;
        color: #fff;
    }

    form.white-popup-block .login-custom {
        border-left: 1px solid #e7e7e7;
        padding-left: 0px;
        padding: 25px;
        background-image: src(/asset/images/logo.png)
    }

    form.white-popup-block {
        padding: 0px;
    }

    .pol_reg {
        color: #1F497D;
    }

    .icon_css {
        height: 70px;
        width: 70px;
        padding: 7px;
    }

    .sidebar-item.trending-courses-box .item {
        border-bottom: 1px solid #e7e7e7;
        margin-bottom: 10px !important;
        padding-bottom: 15px;
    }

    .reg_text {
        text-align: justify;
        color: #fff;
        margin: 40px 0px;
    }

    h4.fee_class {
        font-weight: normal !important;
        margin-bottom: 5px !important;
        color: #1F497D;
    }

    .login-social {
        color: #fff;
        ;
        background-color: #1F497D;
        ;
        padding: 25px;
        padding-bottom: 35px;
    }

    form.white-popup-block .col-md-6:last-child {
        border-left: 1px solid;
        border: 0px;
    }

    button.btn.sub_btn.btn-xs.btn-success.btn_margin {
        margin-top: 47px !important;
        ;
    }
.breadcrumb-header {
    background: linear-gradient(90deg, rgba(237,245,255,1) 0%, rgba(204,223,247,1) 100%);
    padding: 5px;
    margin-bottom: 20px;
    padding: 10px ;
}
.back_button {
    color: #fff;
    border-radius: 3px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.btn_top_margin {
    margin-top: 28px !important;
    border-radius: 3px;
}
.cb-1 {
    background-color: #1f497d;
    color: #fff;
}
button.btn-xs.btn.btn-info {
    border-radius: 3px;
}
h5.head_css {
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #dae9fb;
    border-radius: 10px 10px 0px 0px;
    font-weight: 600;
    margin-top: 40px;
}
.item.mariner {
    cursor:pointer;
}
 .xs-spacer {
     height:20px;
}