<!--<style>

</style>-->
<link href="/contents/css/Pages/Infracture/LMS.css" rel="stylesheet" />
<div ng-controller="LMSController">
    <section class="irs-inner-page-heading irs-layer-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="irs-inner-heading">
                        <h2>LMS</h2>
                        <i class="icofont icofont-education"></i>
                        <p>
                            <a ui-sref="index">HOME</a> &gt; <a ui-sref="index.InfrastructureDetails">Infrastructure</a> &gt; <a ui-sref="index.LMS">LMS</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="irs-courses-field irs-courses-single">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="irs-courses-col irs-courses-col-single">
                        <div class="irs-courses-img">
                            <img src="/contents/images/infracture/LMS.png" alt="">
                            <!--<div class="irs-time">
                                <p>
                                    <a href="#">10:00 pm - 4:00 pm</a>
                                </p>
                            </div>-->
                            <div class="irs-courses-img-text">
                                <ul class="clearfix">
                                    <li>
                                        <p><i class="zmdi zmdi-calendar-alt"></i> 3 years</p>
                                    </li>
                                    <li class="pull-right">
                                        <!--  <p><i class="zmdi zmdi-money"></i> 290</p>-->
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="irs-courses-content">
                        <h4 class="Head_Infra">LMS</h4>
                        <div>
                            A Learning Management System (LMS) is a software application designed to facilitate the administration, documentation, tracking, and delivery of educational courses or training programs. It provides a centralized platform where educators or trainers can create, organize, and manage content, as well as monitor the progress and performance of learners. LMSs are commonly used in educational institutions, corporations, and organizations to streamline the learning process and enhance the overall effectiveness of training initiatives
                            <br />
                            Centralized Learning: LMS provides a centralized platform for organizing and delivering educational content, making it easily accessible to learners from various locations. Many LMS platforms can integrate with other software systems, such as HR systems or content authoring tools, streamlining administrative processes and enhancing overall efficiency.

                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn-success more_btn pull-right" ng-click="OpenPage(data.CollegeID)">More Details > ></button>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>