.irs-courses-content {
    padding: 0px;
}

.irs-courses-img img {
    height: 400px;
    width: 100%;
}

.table {
    /*        margin-top: 30px;
*/ border-top: 2px solid #ddd;
}
.table {
    /* margin-top: 30px; */
    border-top: 2px solid #ddd;
    margin-bottom: 0px;
}

