<!--<style>

</style>-->
<link href="/contents/css/Pages/CollegePages/CollegeJournal.css" rel="stylesheet" />
<script>
    window.scroll({
        top: 0,
        left: 0,
        behavior: 'smooth'

    });

    $(function () {
        $('#datepicker1').datepicker({
            changeMonth: false,
            changeYear: true,
            showButtonPanel: false,
            dateFormat: 'yyyy',

            format: " yyyy", // Notice the Extra space at the beginning
            viewMode: "years",
            minViewMode: "years",
            autoclose: true,
            onClose: function (dateText, inst) {
                $(this).datepicker('setDate', new Date('2017'));
            }
        }).focus(function () {
            $(".ui-datepicker-month").hide();
            $(".ui-datepicker-calendar").hide();
        });
    });
</script>
<div ng-controller="CollegeJournalController">
    <div class="breadcrumb-header">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">
                <h5 class="header-text">College Journal</h5>

            </section>
        </div>
        <!-- breadcrumb Close -->
    </div>
    <div class="container">
        <div class="col-md-12">
            <button class="btn back_button" ng-click="GoBack()"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</button>
        </div>
    </div>
    <div class="container">
        <div class="sm-spacer"></div>
        <div class="pannel-bar"> Add College Journal</div>
        <div class="card">
            <form novalidate="" class="ng-pristine ng-invalid ng-invalid-required">

                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Publish Year </label>
                            <select class="form-control" id="selSession" ng-model="PublishYear"
                                    ng-options="data.YearID  as data.Year for data in GetYearsList">
                                <option value="" selected>Select Publish Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Eidition</label>
                        <div class="form-group">
                            <input ng-model="Eidition" maxlength="1000" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Major Topics</label>
                        <div class="form-group">
                            <textarea ng-model="MajorTopics" rows="3" maxlength="1000" type="text" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Journal Path</label>
                        <div class="form-group">
                            <input class="form-control" id="PdfFile" type="file" placeholder="" maxlength="10" onchange="angular.element(this).scope().uploadPdf()" accept=".doc,.docx,.pdf,.zip,.7zip,.rar,.RAR,.ZIP,.PDF,.DOC,.DOCX,.7ZIP" ng-model="Photo" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 pull-right" ng-show="AddDetails=='1'">
                        <div class="form-group">
                            <button style="margin-top:30px;" class="btn btn_submit pull-left" ng-click="AddJournal()">
                                <span class="fa fa-arrow-up heading_icon btn_icons"></span>  Submit

                            </button>
                        </div>
                    </div>
                    <div class="col-md-2 pull-right" ng-show="UpdateDetails=='1'">
                        <div class="form-group">
                            <button style="margin-top:30px;" class="btn btn_submit pull-left" ng-click="UpdateJournal()">
                                <span class="fa fa-arrow-up heading_icon btn_icons"></span>  Update

                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>


        <div class="sm-spacer"></div>
        <div class="sm-spacer"></div>
        <div class="container " ng-show="GetJournalsList.length>0">
            <div class="col-md-12">
                <div class="cl-details">
                    <h2>College Journal</h2>
                </div>

                <div class="table-responsive table-custom-tables-tb">
                    <table class="table table-bordered table-hover table-striped table-rounded custom-table-wdith">
                        <thead>
                            <tr class="cb-1">
                                <th>S.No</th>
                                <th class="text-center">Publish Year</th>
                                <th class="text-center">Eidition</th>
                                <th class="text-center">MajorTopics</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color: #fff!important;" ng-repeat="data in GetJournalsList">
                                <td class="text-left">{{$index + 1}}</td>
                                <td class="text-left">{{data.PublishYear}}</td>
                                <td class="text-left">{{data.Eidition}}</td>
                                <td class="text-left">{{data.MajorTopics}}</td>

                                <td class="text-center">
                                    <button class="btn-xs btn btn-info" style="width: 70px;" ng-show="edit" ng-click="GetJournalById(data.JournalID)">
                                        Edit
                                    </button>
                                    <!--<button class="btn-xs btn btn-primary" style="width: 70px;" ng-show="!edit" ng-click="UpdateCollegeLab(data.JournalID)">
                                        Update
                                    </button>-->
                                    <button class="btn-xs btn btn-danger" style="width: 70px;" ng-click="DeleteJournalById(data.JournalID)">
                                        Delete
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="" ng-show="GetJournalsList.length<1">
            <div class="">
                <h4 class="no-results text-center">No data Found</h4>
            </div>
        </div>
    </div>
    <div class="sm-spacer"></div>
    <div class="sm-spacer"></div>
</div>
