
<div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Edit Details</h2>
        <button type="button" class="close" ng-click="closeModal()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form>
            <div class="form-group">
                <label>Scheme</label>
                <select class="form-control " id="selSession" ng-model="EditData.SchemeID" ng-options="data.SchemeID  as data.Scheme   for data in GetSchemesList">
                    <option value="" selected>Select Scheme</option>
                </select>
            </div>
            <div class="form-group">
                <label>Academic Year</label>
                <select class="form-control " id="selSession" ng-model="EditData.AcademicYearID" ng-options="data.AcademicYearID   as data.AcademicYear   for data in GetAcademicYearsList">
                    <option value="" selected>Select Academic Year</option>
                </select>
            </div>
            <div class="form-group">
                <label>Exam Month Years</label>
                <select class="form-control " id="selSession" ng-model="EditData.ExamMonthYearID" ng-options="data.ExamMonthYearID   as data.ExamMonthYear   for data in GetExamMonthYearsList">
                    <option value="" selected>Select Exam Month Year</option>
                </select>
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Time Table Date</label>
                <input type="text" class="form-control" id="recipient-name" ng-model="EditData.TimeTableDate">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Time Table Text</label>
                <input type="text" class="form-control" id="recipient-name" ng-model="EditData.TimeTableText">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">File:</label>
                <input class="form-control" id="PdfFile1" type="file" placeholder="" maxlength="10" onchange="angular.element(this).scope().uploadPdf1()" accept=".zip,.rar,.7zip" ng-model="EditData.file" />

                <!--<img ng-src="{{EditData.SliderImagePath}}" style="border: 2px solid #ddd;" class="img_View1" id="stdPhotoImg1" />-->
            </div>
            <div class="col-md-1">
                <label for="checkbox" class="col-form-label">Active:</label>
                <input type="checkbox" ng-model="EditData.Active" />
            </div>

            <!--</div>-->
        </form>
</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="UpdateTimeTable(EditData)">Update</button>
        <button type="button" class="btn btn-secondary" ng-click="closeModal()">Cancel</button>
    </div>
</div>

