<!--<style>

   </style>-->
<link href="/contents/css/Pages/Popups/FeePaymentPopup.css" rel="stylesheet" />
<div class="modal-header ">
    <h4 class="modal-title text-center">
        Verify the Payment Details before you Proceed
        <!--<button type="button" class="btn btn-circle btn-close btn-modal-close" ng-click="closeModal()">&times;</button>-->
    </h4>
    <!--<h4 class="modal-title text-center" ng-show="DetailsFound && isBackLog">
        <b>Verify the Backlog Payment Details before you Proceed</b>-->
    <!--<button type="button" class="btn btn-circle btn-close btn-modal-close" ng-click="closeModal()">&times;</button>-->
    <!--</h4>-->
</div>
<div class="row">
    <div class="modal-body">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4"><label for="stdSem">Challan Number</label></div>
                    <div class="col-md-8">: {{challan}}</div>


                </div>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered  table-striped table-rounded">
                    <thead>
                        <tr class="cb-1">
                            <th style="width: 2%;background-color: #0566a8;">S.No</th>
                            <th class="" style="background-color: #0566a8">Student Name</th>
                            <th class="" style="background-color: #0566a8">Phone Number</th>

                            <th class="text-left" style="width: 10%;background-color: #0566a8">Amount (Rs)</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- ngRepeat: x in PaymentStudent -->
                        <tr style="background-color:#fff!important;" ng-repeat="x in StudentVerData" class="ng-scope">
                            <td class="text-left ng-binding">{{$index+1}}</td>
                            <td class="text-left ng-binding">{{x.StudentName}}</td>
                            <td class="text-left ng-binding">{{x.RegistrationMobile}}</td>
                            <td class="text-center ng-binding">{{x.RegistrationAmount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>

        <div class="col-md-12">
            <div class="col-md-12">
                <div class="grid">
                    <label class="card" style=" width: 180px">
                        <input name="plan" class="radio" ng-value=1 ng-model="mode" ng-click="Mode()" type="radio">
                        <i class="fa fa-check checkmark" aria-hidden="true"></i>
                        <span class="plan-details">
                            <img class="img_bill" src="../../../contents/img/BillDesk_logo.png" />
                        </span>

                        <!--<span class="plan-type">Basic</span>
                        <span class="plan-cost">$0<span class="slash">/</span><abbr class="plan-cycle" title="month">mo</abbr></span>
                        <span>1 team member</span>
                        <span>100 GB/mo</span>
                        <span>1 concurrent build</span>-->

                    </label>
                    <label class="card" style="width: 180px">
                        <input name="plan" class="radio" ng-value=2 ng-model="mode" ng-click="Mode()" type="radio">
                        <i class="fa fa-check checkmark" aria-hidden="true"></i>
                        <span class="plan-details">
                            <img class="img_bill" src="../../../contents/img/twalletonly.png" />
                        </span>
                    </label>
                    <!--<label>
                        <input type="radio" name="options" />
                        <span>A</span><span>Option A</span>
                    </label>-->
                    <!--<label class="card">
                        <input name="plan" class="radio" type="radio">
                        <span class="hidden-visually">Business - $200 per month, 5+ team members, 1000 GB per month, Unlimited builds</span>
                        <span class="plan-details" aria-hidden="true">
                            <span class="plan-type">Business</span>
                            <span class="plan-cost">$200<span class="slash">/</span><span class="plan-cycle">mo</span></span>
                            <span>5+ team members</span>
                            <span>1000 GB/mo</span>
                            <span>Unlimited builds</span>
                        </span>
                    </label>-->
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <h5>Note: Payment gateway transaction charges as below</h5>
            </div>

            <div class="col-md-12" ng-show="mode==1">
                <table class="table table-bordered">
                    <thead>
                        <tr class="cb-1">
                            <th class="text-center" style="width: 2%;">S.No</th>
                            <th class="text-center">Mode of Payment</th>
                            <th class="text-center"> < Rs.2000 </th>
                            <th class="text-center"> > Rs.2000 </th>
                            <th class="text-center" style="width: 10%">Recommended</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr style="background-color:#fff!important;">
                            <td class="text-center">1</td>
                            <td class="text-center">UPI</td>
                            <td class="text-center">NIL</td>
                            <td class="text-center">NIL</td>
                            <td class="text-center">All</td>
                        </tr>
                        <tr style="background-color:#fff!important;">
                            <td class="text-center">2</td>
                            <td class="text-center">Debit Card- Rupay</td>
                            <td class="text-center">NIL</td>
                            <td class="text-center">NIL</td>
                            <td class="text-center">Student Individual Payment</td>
                        </tr>
                        <tr style="background-color:#fff!important;">
                            <td class="text-center">3</td>
                            <td class="text-center">Debit Card-Visa/Master</td>
                            <td class="text-center">1.00%</td>
                            <td class="text-center">1.24%</td>
                            <td class="text-center">Student individual payment</td>
                        </tr>
                        <tr style="background-color:#fff!important;">
                            <td class="text-center">4</td>
                            <td class="text-center">Net Banking</td>
                            <td class="text-center">10rs</td>
                            <td class="text-center">10rs</td>
                            <td class="text-center">Colleges Group payment</td>
                        </tr>
                        <tr style="background-color:#fff!important;">
                            <td class="text-center">5</td>
                            <td class="text-center">Wallets</td>
                            <td class="text-center">1.24%</td>
                            <td class="text-center">1.24%</td>
                            <td class="text-center">Student individual payment</td>
                        </tr>
                        <tr style="background-color:#fff!important;">
                            <td class="text-center">6</td>
                            <td class="text-center">Credit Card</td>
                            <td class="text-center">1.24%</td>
                            <td class="text-center">1.24%</td>
                            <td class="text-center">Student individual payment</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-12" ng-show="mode==2">
                <table class="table table-bordered">
                    <thead>
                        <tr class="cb-1">
                            <th class="text-center" style="width: 2%;">S.No</th>
                            <th class="text-center">Mode of Payment</th>
                            <th class="text-center"> < Rs.2000 </th>
                            <th class="text-center"> > Rs.2000 </th>
                            <th class="text-center" style="width: 10%">Recommended</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr style="background-color:#fff!important;">
                            <td class="text-center">1</td>
                            <td class="text-center">UPI</td>
                            <td class="text-center">NIL</td>
                            <td class="text-center">NIL</td>
                            <td class="text-center">All</td>
                        </tr>
                        <tr style="background-color:#fff!important;">
                            <td class="text-center">2</td>
                            <td class="text-center">Debit Card- Rupay</td>
                            <td class="text-center">NIL</td>
                            <td class="text-center">NIL</td>
                            <td class="text-center">Student Individual Payment</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <div class="sm-spacer"></div>
        <div class="col-md-12">

            <div class="col-md-12" style="margin-top: 5px;">
                <span class="PopupCheckbox1">
                    <input type="checkbox" ng-checked="noteChallan" ng-model="noteChallan" ng-change="notedChallan()" />
                </span>
                <span class="PopupCheckbox">: I agree that i have noted the challan number</span>
            </div>
            <div class="sm-spacer"></div>
        </div>
        <div class="modal-footer">

            <button type="button" ng-if="mode==1" class="btn btn-success pull-right" ng-click="Proceedtopay()" style="margin-top: 20px;" ng-disabled="!noteChallan && !secondClick ">Proceed</button>
            <button type="button" ng-if="mode==2" class="btn btn-success pull-right" ng-click="Pay()" style="margin-top: 20px;" ng-disabled="!noteChallan && !secondClick ">Pay</button>
            <button type="button" class="btn btn-default pull-left" ng-click="closeModal()" style="margin-top: 20px;">Cancel</button>
        </div>

    </div>
</div>
