<div ng-controller="CCICServiceController">
    <section class="irs-inner-page-heading irs-layer-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="irs-inner-heading">
                        <h2>CCIC Services</h2>
                        <i class="icofont icofont-education"></i>
                        <p>
                            <a ui-sref="index">HOME</a>&gt; <a ui-sref="index.ServicesList">Service Types</a> &gt; <a ui-sref="index.SubServicesList">Services</a> &gt; <a ui-sref="index.CCICService">CCIC Service</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service start -->
    <section class="irs-service-field">
        <div class="container">
            <div class="row">
                <!--<div class="col-md-4 col-sm-4">
                    <div class="irs-service-col text-center">
                        <i class="icofont icofont-graduate-alt"></i>
                        <h3>Syllabus</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some injected humour.</p>
                    </div>
                </div>-->
                <div class="col-md-4 col-sm-4">
                    <div class="irs-service-col text-center">
                        <i class="icofont icofont-award"></i>
                        <h3>Time Tables</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some injected humour.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="irs-service-col text-center">
                        <i class="icofont icofont-school-bus"></i>
                        <h3>Exam Fee Payment</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some injected humour.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 ">
                    <div class="irs-service-col text-center">
                        <i class="icofont icofont-read-book"></i>
                        <h3>Hall Ticket</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some injected humour.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-md-offset-4">
                    <div class="irs-service-col text-center">
                        <i class="icofont icofont-test-bulb"></i>
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some injected humour.</p>
                    </div>
                </div>
                <!--<div class="col-md-4 col-sm-4">
                    <div class="irs-service-col text-center">
                        <i class="icofont icofont-hat"></i>
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some injected humour.</p>
                    </div>
                </div>-->
            </div>

        </div>
    </section>
    <!-- Service end -->
</div>