<!--<style>

</style>-->
<link href="/contents/css/Pages/Pages/AboutUs.css" rel="stylesheet" />
<div ng-controller="AboutUsController">
    <section class="irs-inner-page-heading irs-layer-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="irs-inner-heading">
                        <h2>About Us</h2>
                        <i class="icofont icofont-education"></i>
                        <p>
                            <a ui-sref="index">HOME</a> &gt; <a href="#">About Us</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="irs-Pages-field">
        <div class="container">
            <h3>About Us</h3>
            STATE BOARD OF TECHNICAL EDUCATION AND TRAINING (SBTET) was formed vide G.O.Ms.No.371, Edn, dated. 26.2.1957. It is formed as a statutory body under the A.P. Education Act-1982 (Act 1of 1982), an act of assembly, in the present form, vide G.O.Ms.No.140, Dated 24.4.1984.  AP State Board of Technical Education and Training was formed on 18th June, 2015 after bifurcation.
            SBTET has under its development and supervisory ambit, around xxx Govt Polytechnics and XXX Private Polytechnics across the state of Andhra Pradesh. State Board of Technical Education and Training (SBTET), under the aegis of Department of Technical Education is trying to set up Diploma Programmes in collaboration with industry as well as Industry associations in sectors/areas having high employment Potential.
            The SBTET shall continue its pursuit to attain excellence and work with great effort to safeguard and guarantee the delivery and impart of quality, career and job oriented technical education to the energetic youth of Andhra Pradesh

            <h3>VISION</h3>
            <ul>
                <li>SBTET is committed to Transparency, Accuracy, Integrity, Innovation and Societal Relevance in realizing human resource potential as International Outlook professionals in Technical Education and Responsible Citizens.</li>
            </ul>

            <h3>MISSION</h3>
            <ul>
                <li>	To advise the Government on the coordinate development of Technical Education in the state at below under-graduate</li>
                <li>            	To work in liaison with the Southern Regional Committee of the AICTE in the formulation of schemes in the state</li>
                <li>            	Developing Govt. Institutions, guiding and supervising the aided, private institutions Interacting with industry and national level institutions, co-ordinating with them for quality improvement</li>
                <li>            	Conducting Examinations/valuation/announcement of results and issue of certificates to Diploma and other Certificate courses as per schedule with Transparency</li>
                <li>            	Conducting Staff development training programs in coordination with NITTTR (National Institute of Technical Teachers Training & Research)</li>
            </ul>


            <h3>The Board is expected</h3>
            <ul>
                <li>To frame policies for Technical Education</li>
                <li>            	To review and revise the syllabi as per requirements of the society</li>
                <li>            	To supervise the teaching in technical institutions</li>
                <li>            	To conduct examinations and award Certificates</li>
                <li>            	To design new courses and establish them at various Polytechnics to establish and develop liaison with industry</li>
                <li>            	To affiliate educational institutions and accord recognition</li>
                <li>            	To impart training for the teachers of technical institutions</li>
                <li>            	To design material and make them available to students</li>
                <li>            	To prescribe Syllabus for various Technical Courses at Under-Graduate level</li>
            </ul>

            <h3>The functions of the Board are</h3>
            <ul>
                <li>To advise the Government on the coordinated development of Technical Education in the State at all levels below Under-Graduate level</li>
                <li>            	To work in liaison with SRC (Southern Regional Committee) of AICTE</li>
                <li>            	Formulation of schemes in the State</li>
                <li>            	To affiliate or recognise institutions conducting courses below Under-Graduate level and prescribe courses of study for them</li>
                <li>            	To inspect institutes periodically and ensure that the standards of the courses and the instructional facilities provided are satisfactory</li>
                <li>            	To conduct examinations and award Diploma and Certificates conforming to the minimum standards prescribed by the AICTE</li>
                <li>            	To establish and develop co-operative relationships with industry and commerce</li>
            </ul>

            <h3>The major areas, which the Board would be required to cover in the functions, are</h3>
            <ul>
                <li>Curriculum and Academic Standards</li>
                <li>            	Examinations</li>
                <li>            	Inspection and Affiliation</li>
                <li>            	Liaison with industry</li>
                <li>            	Growth and Development of Technical Education</li>
            </ul>


        </div>
    </section>
</div>