<!--<style>

</style>-->
<link href="/contents/css/Pages/Pages/AntiRagging.css" rel="stylesheet" />
<div ng-controller="AntiRaggingController">
    <section class="irs-inner-page-heading irs-layer-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="irs-inner-heading">
                        <h2>Anti Ragging</h2>
                        <i class="icofont icofont-education"></i>
                        <p>
                            <a ui-sref="index">HOME</a> &gt; <a ui-sref="index.AntiRagging">Anti Ragging</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="irs-Pages-field">
        <div class="container">
            <p>
                The legal definition of ragging is as follows:



                'Ragging' means the doing of any act which causes, or is likely to cause any physical, psychological or physiological harm of apprehension or shame or embarrassment to a student, and includes



                (a) Teasing or abusing of playing Practical joke on, or causing hurt to any student.

                (b) Asking any student to do any act, or perform anything, which he/she would not, in the ordinary course, be willing to do or perform.



                Ragging is different from other crimes because the motive is solely to get perverse pleasure. Ragging is also different from other crimes as it is actively promoted by certain sections of the society.

            </p>
            <div>
                Following types of abuses and activities will be termed as ragging:
                <ul>
                    <li>	Physical abuse, for example, forcing to eat, drink or smoke, forcing to dress or undress.</li>
                    <li>	Verbal abuse, for example swear words and phrases, direct or indirect derogatory references to the person's appearance, attire, religion, caste, family or chosen field of study.</li>
                    <li></li>
                    <li>	Forced activity, for example</li>
                    <li>	Chores for seniors e.g. copying notes, cleaning rooms, etc.</li>
                    <li>	Missing classes. Not being allowed to study.</li>
                    <li>	Staying awake late or getting up at unreasonable times.</li>
                    <li>	Singing or dancing or performing in any other way.</li>
                    <li>	Using foul language or shouting or cheering loudly.</li>
                    <li>	Misbehaving with strangers, particularly women.</li>
                    <li>	Reading or browsing porno-graphic/objectionable material</li>
                    <li></li>
                    <li>	Lifestyle restrictions, for example</li>
                    <li>	Not allowing certain kinds of clothing or accessories e.g. jeans, belts etc.</li>
                    <li>	Enforcing rules regarding shaving or oiling hair. Forcing certain kinds of dress.</li>
                    <li>	Restricting access to parts of the hostel e.g. common room.</li>
                    <li>	Requiring certain modes of address i.e. seniors should be called Sir or Ma'am.</li>
                    <li>	Requiring a particular wake-up time.</li>
                    <li></li>
                    <li>	Conversational mind-games. Particular forms of interaction in which a senior or set of seniors manipulates the conversation so as to humiliate the first year student or make him/her feel stupid or insecure or generally threatened.</li>
                </ul>
            </div>
            <div>
                Disciplinary/Administrative Action<br />
                A student indulging in ragging can be subjected to :
                <ul>
                    <li>Debarred from Classes</li>
                    <li>	Debarred from Examinations</li>
                    <li>	Cancellation of Admission</li>
                    <li>	Initiation of criminal action</li>
                </ul>
            </div>
        </div>
    </section>
</div>
