<!--<style>

</style>-->
<link href="/contents/css/Pages/Pages/Terms.css" rel="stylesheet" />
<div ng-controller="TermsController">
    <section class="irs-inner-page-heading irs-layer-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="irs-inner-heading">
                        <h2>Terms & Conditions</h2>
                        <i class="icofont icofont-education"></i>
                        <p>
                            <a ui-sref="index">HOME</a> &gt; <a href="#">Terms & Conditions</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="irs-Pages-field">
        <div class="container">
            <div class="container">
                <ul>
                    <li>	Welcome to the website of State Board of Technical Education and Training, Andhra Pradesh. Please read the following Terms and Conditions of Use carefully before using the Site.</li>
                    <li>	This website provides general information regarding the Board and its services. SBTET, AP urges you not to assume that information on a particular topic on the site is complete or up-to-date.</li>
                    <li>	SBTET, AP gives you limited personal permission to use the website. </li>
                    <li>	For example, you may only download or print material contained on this site for non-profit purposes. Any commercial use, such as selling content, creating course packs, or posting information on another website is prohibited.</li>
                    <li>	SBTET, AP is the owner or licensee of all rights in the website, its content, software, and services. </li>
                    <li>	You have no right to such content, software or services if not expressly granted in this Agreement.</li>
                    <li>	SBTET, AP disclaims any warranty that the site will be available at all times or will operate without interruption or error. Also, it makes no warranty as to the reliability, accuracy, timeliness, usefulness, adequacy, completeness or suitability of the services or information provided through the site.</li>
                    <li>	You agree to be solely responsible for your use of this website.</li>
                    <li>	SBTET, AP, its officers, directors, employees, agents, and information providers shall not be liable for any damages you may suffer or cause through your use of the site, even if advised of the possibility of such damages.</li>
                </ul>
            </div>
        </div>
    </section>
</div>
